*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.row::after{
  content: '';
  display: table;
  clear: both;
}
.row{
  
  height: 80px;
}
.row [class*="col-"]{
  float: left;
  height: 100%;
}



/* ------------ */

.row [class*="col-"]{
  border: 1px solid black;
  line-height: 40px;
  text-align: center;
  background-color: lightskyblue;
}


/* ////////// */


.row .row [class*="col-"]{
  border: 1px solid white;
  line-height: 200px;
  text-align: center;
  background-color: rgb(238, 120, 120);
}

.row .row{
  padding: 5px;
}

--------------